#bod
{
    background-color:#306030;
}

#header
{
    background-color:121212;
    color:white;
    border-radius: 8px;
    text-align:center;
    margin-left: 150px;
    margin-right: 150px;
}

.text
{
    margin-left: 150px;
    color:lightgreen;
}

.textskyblue
{
    margin-left: 150px;
    color:lightskyblue;
}

#großschrift
{
    color:white;
}